<mat-toolbar class="header mat-elevation-z6">
    <span>
       
          <img src="https://ci6.googleusercontent.com/proxy/L-wG6RGKSmQj5FrgQd2mfctVuYokrldV-6C8Tpp5V8edAHwBppG0NNMfxkTyFtzemaCmY9gVN5OaZ8-VFn0mIx5TBts=s0-d-e1-ft#https://getting.co/digistarts/logo-digistarts.png" alt="logo">
       
    </span>
    <span>
        <a routerLink="/home">

           <i class="material-icons">
               dashboard
           </i>
         <span class="nome">Numbers.Order</span> 
        </a>
    </span>
</mat-toolbar>