<div class="container">  
  <div class="forms">
    <span>
      <h1>Responsável pelo projeto</h1>  Ivan Vidal
    </span>
    <span>
     <h1>E-mail para contato</h1>
      ivanvalmeida.123@gmail.com    
    </span>
    <span>
       <h1>LinkedIn</h1>
      https://www.linkedin.com/in/ivan-vidal-b7485a138/
    </span>
    <span>
     <h1>GitHub</h1> 
     https://github.com/Ivan-Vidal
    </span>
    <span>
    <h1> Enviar mensagem WhatsApp </h1> 
         55+ (11) 9 ***11 
      
      
      <button class="whats">
        <a href="https://api.whatsapp.com/send?L=pt_BR&phone=5511968344811&text=Tenho interesse em seus serviços."> 
          Enviar mensagem
        </a>
      </button> 
    </span>
    
    
    
    
    
    
    
  </div>
</div>





