<div class="container">
    <div>
        <h1>
            Sobre o Projeto Numbers.Order
        </h1>
        <h3>Objetivo do projeto</h3>
        <p>
            O projeto tem como objetivo um dashboard onde pode-se digitar numeros inteiros e verificar os mesmo em ordem crescente.
            


        </p>

        <h3>Solicitante do Projeto</h3>

        <p>
            Foi feito o pedido do projeto pela empresa DigiStarts como teste para vaga de desenvolvedor Front-end Angular.
        </p>
    </div>

</div>