<div class="container">
    
    <h1>
        Digite um número
    </h1>
    <form action="" [formGroup]="loginForm">

        <input type="number" id="num" required formControlName="number">
        
        <button (click)="addOrRemove($event)">
            Verificar
        </button>
   
    <div>
        <ul>
            <li *ngFor="let _ of this.loginForm.value.num; index as i">
                <p>
                    {{ _ }}
                </p>
                
            </li>
        
        </ul>
    </div>
    </form>
</div>